{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            {% if not password == null %}
                <div class="col-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-outline-primary mt-3">Modifier</button>
                    {{ form_end(form) }}
                 </div>
            {% else %}
                    <div class="col-12 text-center">
                        <h3 class="mt-3">Vous vous êtes connectez via google vous ne pouvez pas changer votre mot de passe 😅</h3>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}