{% extends 'base.html.twig' %}

{% block title %}Create Account{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if app.user %}
                    <h1>Vous êtes déjà connecter !</h1>
                {% else %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-primary rounded mt-3">Créer mon compte</button>
                        </div>
                    {{ form_end(form) }}
                        <div class="col-12">
                            <a href="{{ path('security.connect_google') }}" class="btn btn-outline-primary mt-3">Connexion via <i class="fab fa-google"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
